.comentario {
  display: flex;
  flex-direction: column;
}

.textarea {
  resize: none;
}

.error {
  color: #f00;
}

.estrella {
  font-size: 2em;
}

.estrellaA {
  color: #ff0;
  cursor: pointer;
}

.estrellaN {
  color: #000;
  cursor: pointer;
}
