.contenedor {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
.card {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    height: 70px;
    width: 95%;
}

.card1 {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    height: 70px;
    width: 95%;
    font-weight: bold;
    font-size: 24px;
}

.card:hover {
  transform: scale(1.05);
}

.contenedor2 {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #f0f0f0;
  padding: 20px;
}
  
.contenedor3 {
  flex: 0 0 15%; 
  padding-left: 10px;
}
  