.container {
  display: flex;
  flex-direction: column;

  h2 {
    align-self: flex-start;
    font-size: 1.2em;
  }

  div {
    margin-top: 2em;
  }

  .dataDelUsuario {
    display: flex;
    flex-direction: column;
  }

  .datosDeEnvio {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 20em;
  }
}
